/* Instellingen om fouten te helpen vinden, uncomment om aan te zetten */

* {                                          /* geldt voor alles */
    /* border: 1px dotted black;         */  /* zorg dat elke box een gestippelde rand krijgt, zodat je de afmeting goed kunt zien, letop dat dit de layout soms kan wijzigen */
    /* background-color: rgba(0,0,0,5%); */  /* zorg dat elke box een doorzichtige donkere achtergrond krijgt, hoe meer boxen in elkaar hoe donkerder de achtergrondkleur */
}

/* Basisinstellingen voor alle pagina's, alleen aanpassen als je pro wilt worden */

html, body {                      /* geldt voor html en body */
  margin: 0px;                    /* standaard marge 0 */
  background-color: #af9a62;    /* achtergrondkleur lichtgrijs */
  color: #ffffff;               /* tekstkleur donkergrijs */
}  

body * {                          /* geldt voor alles in body */
  overflow: hidden;               /* zorgt dat DIV en andere block elementen de hoogte krijgt van wat erin zit (anders is het soms 0) */
  box-sizing: border-box;         /* zorg dat border meetelt bij de width en height van boxen */
  margin: 0px;                    /* standaard marge 0 */
}

/* Indeling voor alle pagina's */

.page {
  width: 700px;                   /* vaste breedte van 700 pixels */
  margin: 10px auto;              /* boven en onder 0 pixels marge, links en rechts marge gelijk verdeeld (gecentreerd) */
}

header, footer {                  /* geldt voor header en footer */
  margin: 10px 0px;
  border: 5px solid red;
  background-color: black;
}

main {                       
  text-align: justify;            /* tekst uitvullen */}

h1, h2, h3 {                      /* geldt voor h1 en h2 en h3 */
  margin: 10px 0px;
  text-align: center;             /* tekst centreren */
} 

p {
  margin: 10px 0px;
  text-align: justify;            /* tekst links en rechts uitvullen */
}

/* Indeling voor hoofd pagina */

.kolomLinks {
  width:250px;  
  border: 5px solid red;
  border-radius: 170px;
  margin-right: 10px;
  margin: auto;
  border-style: ridge;
  position: relative;
  left: 20px;
}
.KolomLinks2 {
float: left;
  width: 300px;
  height: 300px;
  border: 5px solid red;
  border-style: ridge;
  margin: 4px;
}
.kolomrechts4 {
float:right;
width:345px;
height:350px;
}

.kolomlinks4 {
float:left;
width:345px;
height:350px;
}
.vanpersie {
  max-width: 320px;
  float: left;
}
.pagina2 {
border: 5px solid red;
  border-style: ridge;
  
}

.kolomRechts {
  float:left;
  width: 450px;
}
.kolomrechts6 {
float: right;
  width: 300px;
  height: 300px;
  margin-left: 5px;
  border: 5px solid red;
  border-style: ridge;
}
.kolomStop {
  clear:both;                  
}

#kopje {
  padding-right: 10px ; 
}

.kolomrechts2 {
  float:right;
  width: 320px;
  height: 350px; 
  border: 5px solid red;
  border-style: ridge;
  }

.kolomrechts3 {
  float:none;
  width: 700px; 
  height: auto;
  border: 5px solid red;
  border-style: ridge;

  
  }

.kolommidden {
  width: 700px;
  float:none;
  border: 5px solid red;
  border-style: ridge;
  }

h1, h2, h3 {
      color: #ff4013;
}

.smalltext {
    text-align: center;
    font-size: 0.7em;
  color: red;
}

a {
    color: #94e3fe;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* Navigatiebalk voor alle pagina's */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #ffffff;
    overflow: hidden;
   border-radius: 15px;
  border:3px solid black;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: gray;
}

nav li a.active {
    background-color: #fa0000;
}

#tekst1home{
  color:white;
}
.kolomgullit {
float:right;
  height: 300px;
  width: 250px;
  border: 5px solid red;
  border-style: ridge;
  margin: 5px;
}
.kolomdebeker {
float:left;
  height: 350px;
  width: 245px;
   border: 5px solid red;
  border-style: ridge;
  margin: 5px;
}
.kolomdekleedkamer {
float: right;
  height: 340px;
  width: 445px;
   border: 5px solid red;
  border-style: ridge;
  margin: 5px;
}
.kolom1974 {
float: right;
  border: 5px solid red;
  border-style: ridge;
  margin: 5px;
}

.kolommooigebaar {
float: right;
  height: 300px;
  width: 250pxpx;
  border: 5px solid red;
  border-style: ridge;
  margin: 5px;
  